* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    @include mobile{
        font-size: 14px;
    }
}
h1 {
    font-size: 50px;
    @include mobile{
        font-size: 30px;
    }
}
h2 {
    font-size: 40px;
    @include mobile{
        font-size: 25px;
    }
}